
<% provide(:title, "Contact") %>

<a name="contact">Contact</a>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h1>Sidebar content</h1>
      However, the US state department said Assad was “deluded” if he thinks there is a military solution to the war in Syria.

The Saudi foreign minister, Adel al-Jubeir, said on Friday that Assad’s removal was vital to defeat Islamic State. “We will achieve it,” he told the Munich security conference.

“It might take three months, it might take six months or three years - but he will no longer carry responsibility for Syria. Period,” he later told newspaper Sueddeutsche Zeitung.

Assad said it would be possible to end the war “in less than a year” if rebel supply routes from Turkey, Jordan and Iraq were cut. The signs are that Russian airstrikes, which were not mentioned in the Munich statement, are helping him achieve that goal. “The main battle is about cutting the road between Aleppo and Turkey, for Turkey is the main conduit of supplies for the terrorists,” he added.

Russian aircraft were seen in action in northern Syria again on Friday.

The Syrian leader affirmed his readiness to talk – but he offered nothing to the forces who have been seeking to overthrow him since 2011. “We have fully believed in negotiations,” he said. “However, if we negotiate, it does not mean that we stop fighting terrorism. The two tracks are inevitable in Syria.”

The spirit of his comments was familiar, but the defiant tone does not augur well for the implementation of the fragile and tentative agreement drawn up by the International Syria Support Group, comprising the US, Russia, Britain, Iran, Saudi 
    </div>
    <div class="span10">
      <h1>Body content</h1>
      condemned the delay to a ceasefire. “You don’t wait a week for an emergency operation and the people of Syria should not have to wait a week for relief from bombings. We wait with eager anticipation to see whether this agreement is a turning point or a false dawn.”

Members of Syria’s moderate, western-backed opposition reacted cautiously to the agreement to pause hostilities, saying they did not trust Russia to keep its end of the bargain and halt an intense aerial campaign responsible for the most significant advances by forces loyal to Assad since the start of the civil war.

The advance has so far displaced 51,000 civilians and placed 300,000 more at risk of being placed under siege in Aleppo, according to UN officials, who described the humanitarian situation there as grotesque.

Rebels also questioned the real impact of the deal on the ground, since it excludes the al-Nusra Front, al-Qaida’s affiliate in Syria, which operates in large swaths of the country.
    </div>
  </div>
</div>




