<!DOCTYPE html>
<html>
<% provide(:title, "Resume") %>
<% content_for :description do %>How to contact me<% end %>


<body>
		<div class="row">
    <a id="resume">Resume</a>
  <div class="span9">
    </h3>Level 1 column:
    The Syrian president was speaking to the AFP news agency in Damascus on Thursday, hours before an agreement was reached in Munich on arranging a cessation of hostilities and the urgent despatch of food, medicines and other supplies to hundreds of thousands of civilians in besieged areas.
    </h3>
    <div class="row">
      <div class="span6">Level 2:
      <h3>	Assad said his armed forces would try to retake all of Syria but added that the involvement of regional players “means that the solution will take a long time and will incur a heavy price”. He warned of the possibility of direct intervention by Turkey and Saudi Arabia, who back the rebels.
      </h3>
      </div>
      <div class="span3">Level 2
      	<h3> 
      	Assad said it would be possible to end the war “in less than a year” if rebel supply routes from Turkey, Jordan and Iraq were cut. The signs are that Russian airstrikes, which were not mentioned in the Munich statement, are helping him achieve that goal. “The main battle is about cutting the road between Aleppo and Turkey, for Turkey is the main conduit of supplies for the terrorists,” he added.</h3>
      </div>
    </div>
  </div>
</div>
</body>
</html>
