<div class="container">
<div class="row">
<h1>Editing Micropost</h1>

<%= render 'form' %>
<div class="ribbon">
<%= link_to 'Cancel', @micropost, :class => "btn btn-primary btn-sm" %>
</div>
<div class="ribbon">
<%= link_to 'Back', microposts_path, :class => "btn btn-primary btn-sm" %>
</div>
</div>
</div>