
<% provide(:title, "Stuff") %>
<div class="row">

<p id="notice"><%= notice %></p>

<div class="col-md-8">
<%= link_to 'New Micropost', new_micropost_path %><br>

<ol class="microposts">   
      <%= render @microposts %>

 </ol>
  <%= will_paginate @micropost %>



  


</div>
</div>





