

<% provide(:title, "Ideas") %>
<div class="container">
<div class="row">
       <div class="col-md-12">
				
				<%= link_to 'New Micropost', new_micropost_path(:anchor => "ideas"), :class => "btn btn-primary btn-sm active right-button" %>
				
		</div>
</div>
<div class="row">
	    <div class="col-md-12">
			<h0 id="ideas" name="ideas"></h0>
			<p class="title-header">Ideas - Great ideas are empowered by teams, people who are driven by their passion.</p>
		</div>
		 <div class="col-md-4"></div>
</div>		

  
	

	<span class="microposts">   


	      <%= render @microposts %>

	 </span>
 

  <%= will_paginate @micropost %>


  


</div>




