
<% provide(:title, "Stuff") %>
<div class="row">

<div class="col-md-1">
</div>
<div class="col-md-11">
<%= link_to 'New Micropost', new_micropost_path, :class => "btn btn-primary btn-md" %><br>
<br>
</div>
</div>


	<span class="microposts">   



	      <%= render @microposts %>

	 </span>
 

  <%= will_paginate @micropost %>


  







