
<% provide(:title, "Ideas") %>
<div class="container">
<div class="row">

	<table style="width:100%">
	<tr>
	<td style="width:20%">
			<h2 class="title-header" id="ideas">Ideas</h2>
	</td>
	<td style="width:80%">
		<%= link_to 'New Micropost', new_micropost_path, :class => "btn-right btn-primary btn-sm" %>
	</td>
	</tr>
	</table>

</div>


	<span class="microposts">   



	      <%= render @microposts %>

	 </span>
 

  <%= will_paginate @micropost %>


  


</div>




