

<div class="container">

<div class="row">



 <div class="field">
    
   <h1>	 <%= @micropost.title %> </h1>
  </div>
  <div class="field">
    
    <%= @micropost.body %>
  </div>
  


<br>
<%= link_to 'Edit', edit_micropost_path(@micropost) %>
<br>
<%= link_to "<< Back to Articles List", root_url %>

</div>
</div>
