@import "bootstrap-sprockets";
@import "bootstrap";

$white-font: #fff;
$black-font: #000000;
$grey-font: #C0C0C0;
$title-font: #202020;
$banner-font: #202020;


/* links */

#article{
  
   
    background-color:#C0D6E4;
    
    padding-bottom: 20px;
    padding-top: 20px;
}


h0:before { 
  display: block; 
  content: " "; 
  margin-top: -115px; 
  height: 115px; 
  visibility: hidden; 
  
}


a:link, a:visited { 
    color: (internal value);
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: (internal value);
}
/* universal */

.ribbon {
  padding-top: 20px;
  padding-bottom: 20px;
}


button {
  display: block;
  text-color: #fff;
  }
button:hover, button:focus, button:active, button:target{
    text-color: #fff;
    text-decoration: none;

  }

button-right {
  
  display: block;
  margin:auto;
  text-font: $white-font;
  text-align:center;
  top-padding: 60px;

   :hover {
    color: #fff;
    }

}

.body-post {
  padding-top: 20px;
  padding-bottom: 20px;

}


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.custom-menu {
  font-size: 18px;
  }


.banner{
  float: center;
  padding-bottom: 20px;
  border: #ffffff;




}

p.title-header {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 110%;
  margin-top: 40px;
  margin-left: 5px;
  padding-left: 10px;
  text-align: left;
  color: $title-font;
}

.title-banner {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-left: 5px;
  padding-left: 10px;
  text-align: left;

  color: $grey-font;
}

p.title-post {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-top: 40px;
  text-align: left;
  color: $title-font;

  :hover {
    color: #fff;
    text-decoration: none;
    }

    :active {
    color: #fff;
    text-decoration: none;
    }
}

.title-anchor {
  font-size: 2em;
  letter-spacing: 2px;
  padding-left: 5px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: $title-font;
}

.title {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  color: #000000;
}

.title-post {
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #000000;
}

title {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: left;
  color: $grey-font;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

p.frontHeader {
  color: $grey-font;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.sm-logo {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    img {
      display: block;
      padding: 10px 0;
    }
  }

.content-post {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 40px;

    img {
      display: block;
      padding: 10px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.picture-post {
  display: block; 
  padding-top: 20px;
  padding-bottom: 20px;
  input {
    border: 0;
  }
}

#imageribbon {
  background-color: white-font;
  padding-bottom: 20px;
  padding-bottom: 20px;
  align: center;
  display: block; 

  }

/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  background-color: white-font;
  padding-bottom: 20px;
  width: 100%;
  }

header {
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

/* 
* flickr widget
*/

.flickr{
  
  display: block; 
  padding-top: 20px;
  padding-bottom: 10px;
  align: center

}

.flickr ul
{
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.flickr ul li 
{
        border-bottom: 0;
        margin: 0;
        padding: 0;

}

.flickr_photo
{
        width: 120px;
        height: 120px;
        padding: 10px 10px 10px 10px;
        margin: 0;
        background: #fff url(../images/pixellated/polaroid.jpg) no-repeat;
}