<footer class="footer">
  <small>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-sm btn-primary" %>
  </small>
  <nav>
    <ul>
      <li>  </li>
      <li>
      <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
