

<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      <div  id="front_header", align="left">
      <h1>Ideas Connect Us</h1> 
      </div>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "Resume",   resume_path %></li>
            <li><%= link_to "Contact",   contact_path %></li>
            <% if logged_in? %>
            <li><%= link_to "Profile",   current_user %></li>
            <% end %>
          </ul>

        </nav>
      </div>
    </header>
    <br>
    <div class="jumbotron">

    <%= image_tag("header.jpg", :alt => "header") %>
    </div>
    