
 <div class="navbar navbar-fixed-top navbar-inverse">
  

          <div>
          <h1 class="frontHeader">Ideas Connect Us</h1> 
          </div>
        <nav>
          <div class="navbar-inner">
            <ul class="nav navbar-nav custom-menu">

              <li><%= link_to "Ideas", root_url(:anchor => "ideas") %></li>
              <li><%= link_to "Projects",   root_url(:anchor => "project") %></li>
              <li><%= link_to "Contact",   root_url(:anchor => "contact") %></li>
              <% if logged_in? %>
              <li><%= link_to "Profile",   current_user %></li>
              <% end %>
            </ul>
            </div>
        </nav>
      </div>
      </div>
    </nav>
