
 <div class="container">
 <div class="navbar navbar-fixed-top navbar-inverse">
 <div class="row">

          <div class="col-md-2"></div>
          <div class="col-md-8">
          <p class="title-banner">Ideas Connect Us</p> 
          </div>
          <div class="col-md-2"></div>
  </div>
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
        <nav>
          <div class="navbar-inner">
            <ul class="nav navbar-nav custom-menu">

              <li><%= link_to "Ideas", root_url(:anchor => "ideas") %></li>
              <li><%= link_to "Projects",   root_url(:anchor => "project") %></li>
              <li><%= link_to "Contact",   root_url(:anchor => "contact") %></li>
              <% if logged_in? %>
              <li><%= link_to "Profile",   current_user %></li>
              <% end %>
            </ul>
            </div>
        </nav>
      </div>
      <div class="col-md-2"></div>

    </div>
    </div>
    </div>

      
