

<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      <div  id="front_header", align="left">
      <h1>Ideas Connect Us</h1> 
      </div>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "Ideas", root_url(:anchor => "ideas") %></li>
            <li><%= link_to "Projects",   resume_path(:anchor => "resume") %></li>
            <li><%= link_to "Contact",   root_url(:anchor => "contact") %></li>
            <% if logged_in? %>
            <li><%= link_to "Profile",   current_user %></li>
            <% end %>
          </ul>

        </nav>
      </div>
    </header>
    <br>
    
    