


 <div class="ribbon">

 	<a data-flickr-embed="true"  href="https://www.flickr.com/photos/138220357@N03/24761456396/in/album-72157663693230710/" title="P1038567[1]"><img src="https://farm2.staticflickr.com/1569/24761456396_7f80c839b4_z.jpg" width="320" height="160" alt="P1038567[1]"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

 	<a data-flickr-embed="true"  href="https://www.flickr.com/photos/138220357@N03/24771202906/in/album-72157663693230710/" title="P1038631[1]"><img src="https://farm2.staticflickr.com/1674/24771202906_4d1a7330d4_z.jpg" width="320" height="160" alt="P1038631[1]"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

 	<a data-flickr-embed="true"  href="https://www.flickr.com/photos/138220357@N03/24771646386/in/album-72157663693230710/" title="P1048837[1]"><img src="https://farm2.staticflickr.com/1470/24771646386_7d03045242_z.jpg" width="320" height="160" alt="P1048837[1]"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

 	<a data-flickr-embed="true"  href="https://www.flickr.com/photos/138220357@N03/24171115293/in/album-72157663693230710/" title="P1048893[1]"><img src="https://farm2.staticflickr.com/1479/24171115293_976f68b0cf_z.jpg" width="320" height="160" alt="P1048893[1]"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

 	<a data-flickr-embed="true"  href="https://www.flickr.com/photos/138220357@N03/24501727060/in/album-72157663693230710/" title="P1038604[1]"><img src="https://farm2.staticflickr.com/1572/24501727060_cd920c477f_z.jpg" width="320" height="160" alt="P1038604[1]"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
 
 </div>
  
