<div class="container">
<div class="row>"
<div class="ribbon-project">
	<div class="" style="width=50%">
	<h0 name="project" id="project"></h0>
	<p class="title-header">Project</p>
	</div>
	<div style="width=50%">
		<div>
			<h4>1. Learning to edit and mix music</h4>
				<%= link_to image_tag("instagram.png", alt: "Instagram", size: "25x25"),
                'https://www.instagram.com/soniacaan/' %>
		</div>
</div>
</div>
</div>
