<div class="container">
<div class="row>"
	<div class="" style="width=50%">
	<h0 name="project" id="project"></h0>
	<p class="title-header">Project</p>
	</div>
	<div style="width=50%">
		
			When eight different people send me a link to the same website in the span of a week, I know I have to write about it.

		The site is called Buy Me Once. I’m in love, and I think the site and its mission are incredibly important.

		Here’s why.

		I talk a lot about reducing consumption, buying less and choosing to buy better quality products when it is actually necessary to make a purchase. But as I’ve discovered over the past eight years, actually doing this can be quite challenging.

		Initially, when I was trying to change the way I shopped, I vowed to stop buying clothing from fast fashion outlets. You know the ones – they’re popular and trendy and filled with stacks of $5 T-shirts and racks of $15 shoes. The whole place is fluorescent and pulsing with music and when you go in it’s hard not to buy something.

		Banning fast fashion made me feel good, but it wasn’t long before I realized that I really wasn’t making much of a difference. The $40 T-shirts I was buying at the upscale shop a few blocks away were still made in sweatshops with unsustainable manufacturing practices and horrific working conditions. The fabric was a bit better and the label certainly was, but other than that, was it really all that different?

		This realization was disheartening. It wasn’t long before I began to encounter the type of fact-finding fatigue that plagues most people trying to be conscious of the impacts of their decisions – things like buying a T-shirt, which used to be a simple five-minute decision, now took weeks of research. I was sick of it.


		Yes, you recycle. But until you start reducing, you're still killing the planet
		 Read more
		Did I really have to conduct a full-scale investigation into each company I wanted to support just to buy a new pair of shoes or lipstick? And sometimes even after investigating labour practices I’d finally pull the trigger, only to have the product fall apart a few short months later.

		Rage. Just pure rage.

		It’s true what they say, they don’t make ’em like they used to, whether you’re referring to appliances, cars, electronics, clothing or furniture.

		So, here we are, shopping and shopping. Meanwhile, those who would like to fill their homes with well-made products rather than spend their lives looking for replacements often find themselves at a loss, frustratedly casting about in a sea of temporary crap, trying to find the one-offs. The good stuff.

		Advertisement

		The site my friends and family kept sending me is designed to help do just that.

		It’s called Buy Me Once and its motto is “Love Things That Last”. It’s one of those sites you wish you’d thought of yourse

		British workers’ rights to paid holiday, maternity leave and fair treatment at work would be at risk if the UK voted to leave the European Union, the head of the Trades Union Congress has warned.

		Frances O’Grady, general secretary of the body representing British trade unions, said the EU debate had been too dominated by business interests, with not enough focus on the potential costs for ordinary workers. “Most of the rights that we depend on derive from Europe,” she said.

		“If you are going to have a baby, knowing whether or not, or how much paid maternity leave you are going to get might make you think quite hard about how you are going to vote. If you are one of those 6 million workers whose holidays were improved by the working time directive you might not want to put your cross in the wrong box.”

		The EU’s working time directive enshrines the right to 20 days’ paid holiday and made millions of British people better off when it was introduced in 1993.

		O’Grady also cited the transfer of undertakings (TUPE) rules that protect staff terms and conditions when jobs are transferred or outsourced, as well as EU laws that oblige firms to inform and consult workers when they plan redundancies.

		'Do you trust a Conservative government to keep those rights? It is one hell of a gamble'
		Frances O'Grady
		All these rights would be hostage to a future Conservative government if Britain left the EU, she said. “Do you trust a Conservative government to keep those rights? It is one hell of a gamble.”

		The TUC is also concerned Brexit would cost jobs and investment. “It may well be that jobs would replace the ones we lost, but would they be of the same quality? Because manufacturing in particular would take a big hit.”

		O’Grady was speaking to the Guardian in Brussels on the eve of a crucial summit that will determine Britain’s future in the EU. She was meeting European commission president Jean-Claude Juncker and pledged to tell him to “turn up the volume” about what a Brexit would mean for working people.


		Brexit – what would happen if Britain left the EU?
		 Read more
		“Of course if wouldn’t be right for them to interfere, but it is quite appropriate for president Juncker to talk about what Europe has delivered for working people and what more it could be delivering.”

		In his state-of the-union speech last year, Juncker called for a fairer European labour market, with an end to “social dumping”, the practice of importing low-wage workers to dilute pay and conditions. But European trade unions think he hasn’t done enough to turn this agenda into a reality.

		O’Grady said Juncker couldn’t afford to rely on Cameron being able to deliver a yes vote in a referendum. “I think there needs to be a recognition across the political class that every worker’s vote counts and ... that is who they have got to convince.”

		Referring to the controversy over restricting in-work benefits for EU citizens, she said: “Instead of a debate dominated by the benefits for 84,000 migrant workers, maybe we need a debate dominated by the idea of what action the EU can take to reintroduce the rate for the job across industries and end undercutting.”

		The TUC is particularly concerned about what Cameron’s “better regulation” agenda could mean. Boosting competitiveness and cutting red tape is one of the UK’s four areas of reform, although the generalities of the draft agreement mean it has remained relatively uncontroversial in negotiations. O’Grady said the TUC was on constant red alert on this question: “One business leader’s red tape is a worker’s paid holiday.”


		Cameron’s EU deal negotiations: the key questions answered
		 Read more
		The TUC will not be affiliated to the Remain campaign headed by former Marks & Spencer boss Stuart Rose, as O’Grady wants to preserve its own voice. Keeping her distance may help her to convince leftwing eurosceptics that the EU is not merely a capitalists’ club.

		Partly t
		</div>
</div>
</div>
